{% extends 'base.html' %}
{% import 'macros.html' as macros %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    {{super()}}
    Bienvenido
{% endblock %}

{% block content %}
    <div class="container">
        {% if username %}
            <h1>Bienvenido, {{username | capitalize}}</h1>
        {% endif %}

        {% if user_ip %}
            <h3>Tu IP es {{ user_ip }}</h3>
        {% else %}
            <a href="{{ url_for('index') }}">Ir a Inicio</a>
        {% endif %}
    </div>

    <div class="container">
        <h2>Crea una nueva tarea</h2>
        {{ wtf.quick_form(todo_form)}}
    </div>
    <div class="container">
        <h2>
            Tareas
        </h2>
        <ul class="list-group">
            
            {% for to_do in to_dos %}
                {{ macros.render_to_do(to_do, delete_form, update_form) }}
            {% endfor %}
        </ul>
    </div>
{% endblock %}