{% macro render_to_do(to_do, delete_form, update_form) %}
{% import 'bootstrap/wtf.html' as wtf %}

    <h4>
        <li class="list-group-item">
            {{ to_do.to_dict()['desc'] }}
            <span class="badge badge-primary badge-pill">
                {{ to_do.to_dict()['done'] }}
            </span>

            {{ wtf.quick_form(delete_form, action=url_for('delete', todo_id=to_do.id)) }}
            {{ wtf.quick_form(update_form, action=url_for('update', todo_id=to_do.id, done=to_do.to_dict().done)) }}
        </li>
    </h4>
    
{% endmacro %}